

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@font-face {
  font-family: upheavtt;
  src: url(../assets/font/upheavtt.ttf);
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth text-white;
  }
  body {
    font-family: upheavtt;
  }
}

@layer components {
  .text_secondary {
    font-family: 'VT323', monospace;
  }
  .btn-primary {
    @apply rounded-[32px] h-12 flex justify-center items-center font-semibold border-none text-base text-semi-black hover:!text-semi-black hover:bg-white hover:bg-none;
    background: linear-gradient(135deg, #febc28 0%, #f179f7 100%);
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
  }
  .btn-secondary {
    @apply rounded-[32px] h-12 flex justify-center items-center font-semibold border-none text-base text-[#4F42D4] hover:!text-semi-black bg-white;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
  }

  .btn-invert {
    @apply rounded-[32px] h-12 flex justify-center items-center font-semibold text-semi-black border-none;
    background: #fff;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
  }
  .font-primary {
    font-family: "Inter", sans-serif;
  }
  .font-secondary {
    font-family: "Inter", sans-serif;
  }
  .bgGradientMid {
    background: linear-gradient(
      137deg,
      #5c3de4 26.04%,
      #3d6ce4 64.06%,
      #ffa0fb 100%
    );
  }
  .bg-page {
    background: url("/assets/images/bg_intro.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-footer {
    background: url("/assets/images/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 110% !important;
  }

  .loading_img {
    animation: MoveUpDown 1.5s linear infinite;
  }

  .scrollbar-custom {
    scrollbar-width: thin;
  }
  
  .scrollbar-custom::-webkit-scrollbar {
    overflow: overlay;
    @apply h-2 w-1;
  }
  
  .scrollbar-custom::-webkit-scrollbar-track {
    @apply bg-[white] rounded-lg;
  }
  .scrollbar-custom::-webkit-scrollbar-corner {
    @apply bg-[#131630];
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    @apply bg-[#2E3148] rounded-lg;
  }

  @keyframes MoveUpDown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  @media only screen and (max-height: 900px) {
    .firstPage {
      height: 60rem !important;
    }
  }
  @media only screen and (min-height: 1080px) {
    .firstPage {
      height: 60rem !important;
    }
  }
}
